@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
/* this styling for body */
body{
    background-color: #ecf0f1;
    font-family: 'roboto',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
/* this size for image  */
img{
    max-width: 100%;
}
/* this styling for card */
.card{
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 350px;
}

/* this styling for card header  */
.card-header{
    height: 200px;
}

/* this styling for image card-header */
.card-header img{
    object-fit: cover;
    height: 100%;
    width: 100%;

}

/* this styling for card-content */
.card-content{
    background-color: #fff;
    padding: 30px;
}
/* this styling for card-title */
.card-title{
    height: 20px;
    margin: 0;
}

/* this styling for author position */
.author{
    display: flex;
}

/* styling for profile img */
.profile-img{
    border-radius:50% ;
    overflow: hidden;
    width: 40px;
    height: 40px;
}

/* author info */
.author-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    width: 100px;
}

.author-info small{
    
        color: #aaa;
        margin-top: 5px;
 }
 
 
 /* this styling for background image */
.animated-bg{
    background-image: linear-gradient(
        to right,
        #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%  
    );

    background-image: 200% 100%;
    animation: bgpos 1s linear infinite;
}

/* this code for text  */
.animated-bg-text {
    border-radius: 50px;
    display: inline-block;
    margin: 0;
    height: 10px;
    width: 100%;
  }

  /* background animation  position */
  @keyframes bgpos {
    0% {
        background-position: 50% 0;
      }
    
      100% {
        background-position: -150% 0;
      }
  }
  
