@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
/* this styling for body */
body{
    background-color: #ecf0f1;
    font-family: 'roboto',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
/* this size for image  */
img{
    max-width: 100%;
}
/* this styling for card */
.card{
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 350px;
}

/* this styling for image card-header */
.card-header img{
    object-fit: cover;
    height: 100%;
    width: 100%;

}

/* this styling for card-content */
.card-content{
    background-color: #fff;
    padding: 30px;
}
/* this styling for card-title */
.card-title{
    height: 20px;
    margin: 0;
}